* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 98vh;
    width: 98vw;
}

.row {
    background-color: #efefef;
    margin: 10px;
    width: 100%;
}

.float .row::after {
    content: "";
    display: table;
    clear: both;
}

.block {
    padding: 30px;
}

.block--half {
    padding: 11.5px;
}

.block,
.block-cont {
    width: 18%;
    margin: 10px;
    background-color: #cccccc;
}

.row,
.block {
    border: 2px solid #5a5a5a;
}

.block-cont {
    background-color: transparent;
}

.float .block--left {
    float: left;
}

.float .block--right,
.float .block-cont--right {
    float: right;
}

.float .block--half {
    width: 100%;
    height: 44%;
    margin: 0;
    float: left;
}

body .block--half:first-child {
    margin-bottom: 10px;
}

.float .row--spec .block--left {
    margin-left: 31.5%;
    margin-right: 0px;
}

.float .row--spec .block-cont--right {
    margin-right: 31.5%;
    margin-left: 0px;
}

/* flex.html */

.flex .row {
    display: flex;
}

.flex .row--gap .block:first-child,
.flex .row--mid .block:nth-child(2) {
    margin-right: auto;
} 

.flex .row--reverse {
    flex-direction: row-reverse;
}

.flex .row--spec {
    justify-content: center;
}

.flex .block--half {
    margin: 0;
    width: 100%;
}

